<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <nav>
        <form method="GET" action="{% url 'lista_filmes' %}">
            <input type="text" name="q" placeholder="Buscar produtos..." value="{{ request.GET.q }}" required>
            <button type="submit">Pesquisar</button>
        </form>
    </nav>
</header>
<body>
    <h1>Home</h1>
    <a href="{% url 'pages:about' %}">about</a>
    <a href="{% url 'pages:user' %}">user</a>
    <a href="{% url 'entrar'%}">logar</a>
    <a href="{% url 'registrar'%}">registrar</a>
</body>
</html>