<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>lista filmes</h1>
    <a href="{% url 'pages:home' %}" style="text-decoration: none; color: inherit;">Voltar</a>
    <div>
        {% for filme in filmes %}
            <a href="{% url 'detalhes' %}?id={{ filme.id }}">
                <hr>
                <div>
                    
                        <img src="{{ filme.get_movies_images_M }}">
                    
                    
                    <div>
                        <h4>titulo: {{ filme.nome }}</h4>
                        <h4>nota: {{ filme.nota_media }}</h4>
                        <h4>Data de Lancamento: {{ filme.lancamento }}</h4>
                    </div>
                    
                </div>
            </a>
        {% endfor %}
    </div>
    
</body>
</html>